In [3]:
import numpy as np 
import pandas as pd

In [56]:
data = pd.read_csv("jj.csv" ,delimiter = '\t', 
     names=["userid","date/time","long","latitude","loc_id"])
#rint(data["b"])
 #  data[["date"]["time"]]=data.b.str.split('T',expand=True)

df = pd.DataFrame(data)

   #print(df)
   #

 #  print(df)
data2=df.head(100)

print(data2)

    userid             date/time       long   latitude   loc_id
0        0  2010-10-19T23:55:27Z  30.235909 -97.795140    22847
1        0  2010-10-18T22:17:43Z  30.269103 -97.749395   420315
2        0  2010-10-17T23:42:03Z  30.255731 -97.763386   316637
3        0  2010-10-17T19:26:05Z  30.263418 -97.757597    16516
4        0  2010-10-16T18:50:42Z  30.274292 -97.740523  5535878
5        0  2010-10-12T23:58:03Z  30.261599 -97.758581    15372
6        0  2010-10-12T22:02:11Z  30.267910 -97.749312    21714
7        0  2010-10-12T19:44:40Z  30.269103 -97.749395   420315
8        0  2010-10-12T15:57:20Z  30.281120 -97.745211   153505
9        0  2010-10-12T15:19:03Z  30.269103 -97.749395   420315
10       0  2010-10-12T00:21:28Z  40.643885 -73.782806    23261
11       0  2010-10-11T20:21:20Z  40.741374 -73.988105    16907
12       0  2010-10-11T20:20:42Z  40.741388 -73.989455    12973
13       0  2010-10-11T00:06:30Z  40.724910 -73.994621   341255
14       0  2010-10-10T22:00:37Z  40.729768 -73.998535   260957
15       0  2010-10-10T21:17:14Z  40.728527 -73.996868  1933724
16       0  2010-10-10T17:47:04Z  40.741747 -73.993421   105068
17       0  2010-10-09T23:51:10Z  40.734193 -74.004164    34817
18       0  2010-10-09T22:27:07Z  40.742512 -74.006031    27836
19       0  2010-10-09T21:39:26Z  40.742396 -74.007543    15079
20       0  2010-10-09T21:36:05Z  40.742396 -74.007543    15079
21       0  2010-10-09T21:05:23Z  40.735885 -74.004968    22806
22       0  2010-10-09T20:55:47Z  40.727525 -73.985399  1365909
23       0  2010-10-09T01:37:03Z  40.756880 -73.986225    11844
24       0  2010-10-08T21:48:37Z  40.707417 -74.011363    11742
25       0  2010-10-08T21:45:48Z  40.707173 -74.010545    19822
26       0  2010-10-08T21:43:52Z  40.707071 -74.011953    15169
27       0  2010-10-08T21:43:02Z  40.705823 -73.996696    11794
28       0  2010-10-08T19:28:36Z  40.769378 -73.963083  1567837
29       0  2010-10-08T17:24:27Z  40.780805 -73.976473    35513
..     ...                   ...        ...        ...      ...
70       0  2010-09-09T14:25:57Z  34.185646 -97.165698    64830
71       0  2010-09-08T16:58:19Z  30.269103 -97.749395   420315
72       0  2010-09-07T21:08:32Z  30.269103 -97.749395   420315
73       0  2010-09-07T16:12:49Z  30.269103 -97.749395   420315
74       0  2010-09-06T00:07:17Z  30.263775 -97.770660     9263
75       0  2010-09-05T17:33:43Z  30.234214 -97.757571  1576090
76       0  2010-09-04T21:32:40Z  30.244860 -97.757163    18417
77       0  2010-09-04T03:14:33Z  30.266891 -97.745686     9223
78       0  2010-09-03T00:28:30Z  30.268696 -97.745615     9313
79       0  2010-09-01T22:36:33Z  30.310153 -97.740158  1067829
80       0  2010-09-01T01:08:15Z  30.244860 -97.757163    18417
81       0  2010-08-31T16:19:01Z  30.269103 -97.749395   420315
82       0  2010-08-30T20:57:25Z  30.267910 -97.749312    21714
83       0  2010-08-30T14:17:05Z  30.264854 -97.743845   480992
84       0  2010-08-30T00:11:01Z  30.250994 -97.748966     9508
85       0  2010-08-28T22:27:57Z  30.244860 -97.757163    18417
86       0  2010-08-28T19:16:11Z  30.263775 -97.770660     9263
87       0  2010-08-28T03:09:14Z  30.310912 -97.742887  2587606
88       0  2010-08-28T03:08:50Z  30.310959 -97.742693  2587024
89       0  2010-08-28T02:40:57Z  30.311043 -97.742915    11934
90       0  2010-08-28T01:12:11Z  30.244761 -97.748961    25151
91       0  2010-08-26T22:47:32Z  30.266240 -97.745908     9225
92       0  2010-08-26T14:11:36Z  30.264854 -97.743845   480992
93       0  2010-08-26T00:09:46Z  30.246461 -97.750788    24276
94       0  2010-08-25T18:59:04Z  30.269103 -97.749395   420315
95       0  2010-08-25T02:03:08Z  30.263775 -97.770660     9263
96       0  2010-08-24T17:33:20Z  30.270734 -97.753703     9241
97       0  2010-08-24T16:26:53Z  30.269103 -97.749395   420315
98       0  2010-08-23T14:45:49Z  30.267910 -97.749312    21714
99       0  2010-08-21T18:10:00Z  30.244860 -97.757163    18417

[100 rows x 5 columns]

In [75]:
def date2time(data2):
    data2["date"]=pd.to_datetime(data2["date/time"]).dt.date
    data2["time"]=pd.to_datetime(data2["date/time"]).dt.time
    print(data2)
#data2=data2.drop(['long','latitude'],axis=1)

date2time(data2)

    userid             date/time   loc_id        date      time
0        0  2010-10-19T23:55:27Z    22847  2010-10-19  23:55:27
1        0  2010-10-18T22:17:43Z   420315  2010-10-18  22:17:43
2        0  2010-10-17T23:42:03Z   316637  2010-10-17  23:42:03
3        0  2010-10-17T19:26:05Z    16516  2010-10-17  19:26:05
4        0  2010-10-16T18:50:42Z  5535878  2010-10-16  18:50:42
5        0  2010-10-12T23:58:03Z    15372  2010-10-12  23:58:03
6        0  2010-10-12T22:02:11Z    21714  2010-10-12  22:02:11
7        0  2010-10-12T19:44:40Z   420315  2010-10-12  19:44:40
8        0  2010-10-12T15:57:20Z   153505  2010-10-12  15:57:20
9        0  2010-10-12T15:19:03Z   420315  2010-10-12  15:19:03
10       0  2010-10-12T00:21:28Z    23261  2010-10-12  00:21:28
11       0  2010-10-11T20:21:20Z    16907  2010-10-11  20:21:20
12       0  2010-10-11T20:20:42Z    12973  2010-10-11  20:20:42
13       0  2010-10-11T00:06:30Z   341255  2010-10-11  00:06:30
14       0  2010-10-10T22:00:37Z   260957  2010-10-10  22:00:37
15       0  2010-10-10T21:17:14Z  1933724  2010-10-10  21:17:14
16       0  2010-10-10T17:47:04Z   105068  2010-10-10  17:47:04
17       0  2010-10-09T23:51:10Z    34817  2010-10-09  23:51:10
18       0  2010-10-09T22:27:07Z    27836  2010-10-09  22:27:07
19       0  2010-10-09T21:39:26Z    15079  2010-10-09  21:39:26
20       0  2010-10-09T21:36:05Z    15079  2010-10-09  21:36:05
21       0  2010-10-09T21:05:23Z    22806  2010-10-09  21:05:23
22       0  2010-10-09T20:55:47Z  1365909  2010-10-09  20:55:47
23       0  2010-10-09T01:37:03Z    11844  2010-10-09  01:37:03
24       0  2010-10-08T21:48:37Z    11742  2010-10-08  21:48:37
25       0  2010-10-08T21:45:48Z    19822  2010-10-08  21:45:48
26       0  2010-10-08T21:43:52Z    15169  2010-10-08  21:43:52
27       0  2010-10-08T21:43:02Z    11794  2010-10-08  21:43:02
28       0  2010-10-08T19:28:36Z  1567837  2010-10-08  19:28:36
29       0  2010-10-08T17:24:27Z    35513  2010-10-08  17:24:27
..     ...                   ...      ...         ...       ...
70       0  2010-09-09T14:25:57Z    64830  2010-09-09  14:25:57
71       0  2010-09-08T16:58:19Z   420315  2010-09-08  16:58:19
72       0  2010-09-07T21:08:32Z   420315  2010-09-07  21:08:32
73       0  2010-09-07T16:12:49Z   420315  2010-09-07  16:12:49
74       0  2010-09-06T00:07:17Z     9263  2010-09-06  00:07:17
75       0  2010-09-05T17:33:43Z  1576090  2010-09-05  17:33:43
76       0  2010-09-04T21:32:40Z    18417  2010-09-04  21:32:40
77       0  2010-09-04T03:14:33Z     9223  2010-09-04  03:14:33
78       0  2010-09-03T00:28:30Z     9313  2010-09-03  00:28:30
79       0  2010-09-01T22:36:33Z  1067829  2010-09-01  22:36:33
80       0  2010-09-01T01:08:15Z    18417  2010-09-01  01:08:15
81       0  2010-08-31T16:19:01Z   420315  2010-08-31  16:19:01
82       0  2010-08-30T20:57:25Z    21714  2010-08-30  20:57:25
83       0  2010-08-30T14:17:05Z   480992  2010-08-30  14:17:05
84       0  2010-08-30T00:11:01Z     9508  2010-08-30  00:11:01
85       0  2010-08-28T22:27:57Z    18417  2010-08-28  22:27:57
86       0  2010-08-28T19:16:11Z     9263  2010-08-28  19:16:11
87       0  2010-08-28T03:09:14Z  2587606  2010-08-28  03:09:14
88       0  2010-08-28T03:08:50Z  2587024  2010-08-28  03:08:50
89       0  2010-08-28T02:40:57Z    11934  2010-08-28  02:40:57
90       0  2010-08-28T01:12:11Z    25151  2010-08-28  01:12:11
91       0  2010-08-26T22:47:32Z     9225  2010-08-26  22:47:32
92       0  2010-08-26T14:11:36Z   480992  2010-08-26  14:11:36
93       0  2010-08-26T00:09:46Z    24276  2010-08-26  00:09:46
94       0  2010-08-25T18:59:04Z   420315  2010-08-25  18:59:04
95       0  2010-08-25T02:03:08Z     9263  2010-08-25  02:03:08
96       0  2010-08-24T17:33:20Z     9241  2010-08-24  17:33:20
97       0  2010-08-24T16:26:53Z   420315  2010-08-24  16:26:53
98       0  2010-08-23T14:45:49Z    21714  2010-08-23  14:45:49
99       0  2010-08-21T18:10:00Z    18417  2010-08-21  18:10:00

[100 rows x 5 columns]

In [74]:
data3=(data2[["userid","date","time","loc_id"]])

In [76]:
print(data3)
data3=data3.set_index(data3["loc_id"])

    userid        date      time   loc_id
0        0  2010-10-19  23:55:27    22847
1        0  2010-10-18  22:17:43   420315
2        0  2010-10-17  23:42:03   316637
3        0  2010-10-17  19:26:05    16516
4        0  2010-10-16  18:50:42  5535878
5        0  2010-10-12  23:58:03    15372
6        0  2010-10-12  22:02:11    21714
7        0  2010-10-12  19:44:40   420315
8        0  2010-10-12  15:57:20   153505
9        0  2010-10-12  15:19:03   420315
10       0  2010-10-12  00:21:28    23261
11       0  2010-10-11  20:21:20    16907
12       0  2010-10-11  20:20:42    12973
13       0  2010-10-11  00:06:30   341255
14       0  2010-10-10  22:00:37   260957
15       0  2010-10-10  21:17:14  1933724
16       0  2010-10-10  17:47:04   105068
17       0  2010-10-09  23:51:10    34817
18       0  2010-10-09  22:27:07    27836
19       0  2010-10-09  21:39:26    15079
20       0  2010-10-09  21:36:05    15079
21       0  2010-10-09  21:05:23    22806
22       0  2010-10-09  20:55:47  1365909
23       0  2010-10-09  01:37:03    11844
24       0  2010-10-08  21:48:37    11742
25       0  2010-10-08  21:45:48    19822
26       0  2010-10-08  21:43:52    15169
27       0  2010-10-08  21:43:02    11794
28       0  2010-10-08  19:28:36  1567837
29       0  2010-10-08  17:24:27    35513
..     ...         ...       ...      ...
70       0  2010-09-09  14:25:57    64830
71       0  2010-09-08  16:58:19   420315
72       0  2010-09-07  21:08:32   420315
73       0  2010-09-07  16:12:49   420315
74       0  2010-09-06  00:07:17     9263
75       0  2010-09-05  17:33:43  1576090
76       0  2010-09-04  21:32:40    18417
77       0  2010-09-04  03:14:33     9223
78       0  2010-09-03  00:28:30     9313
79       0  2010-09-01  22:36:33  1067829
80       0  2010-09-01  01:08:15    18417
81       0  2010-08-31  16:19:01   420315
82       0  2010-08-30  20:57:25    21714
83       0  2010-08-30  14:17:05   480992
84       0  2010-08-30  00:11:01     9508
85       0  2010-08-28  22:27:57    18417
86       0  2010-08-28  19:16:11     9263
87       0  2010-08-28  03:09:14  2587606
88       0  2010-08-28  03:08:50  2587024
89       0  2010-08-28  02:40:57    11934
90       0  2010-08-28  01:12:11    25151
91       0  2010-08-26  22:47:32     9225
92       0  2010-08-26  14:11:36   480992
93       0  2010-08-26  00:09:46    24276
94       0  2010-08-25  18:59:04   420315
95       0  2010-08-25  02:03:08     9263
96       0  2010-08-24  17:33:20     9241
97       0  2010-08-24  16:26:53   420315
98       0  2010-08-23  14:45:49    21714
99       0  2010-08-21  18:10:00    18417

[100 rows x 4 columns]

In [72]:
def countloc(loc):
    print(data2[data2["loc_id"]==loc])
        
        
countloc(420315)
#print(data3["loc_id"].value_counts())

    userid             date/time  loc_id        date      time
1        0  2010-10-18T22:17:43Z  420315  2010-10-18  22:17:43
7        0  2010-10-12T19:44:40Z  420315  2010-10-12  19:44:40
9        0  2010-10-12T15:19:03Z  420315  2010-10-12  15:19:03
37       0  2010-10-06T23:25:34Z  420315  2010-10-06  23:25:34
40       0  2010-10-05T16:10:35Z  420315  2010-10-05  16:10:35
49       0  2010-09-27T14:52:01Z  420315  2010-09-27  14:52:01
53       0  2010-09-24T21:32:13Z  420315  2010-09-24  21:32:13
60       0  2010-09-15T23:04:13Z  420315  2010-09-15  23:04:13
71       0  2010-09-08T16:58:19Z  420315  2010-09-08  16:58:19
72       0  2010-09-07T21:08:32Z  420315  2010-09-07  21:08:32
73       0  2010-09-07T16:12:49Z  420315  2010-09-07  16:12:49
81       0  2010-08-31T16:19:01Z  420315  2010-08-31  16:19:01
94       0  2010-08-25T18:59:04Z  420315  2010-08-25  18:59:04
97       0  2010-08-24T16:26:53Z  420315  2010-08-24  16:26:53

In [57]:
print(len(data))

1048576

In [58]:
data.shape

(1048576, 5)

In [61]:
data3.describe()

       userid        loc_id
count   100.0  1.000000e+02
mean      0.0  3.923738e+05
std       0.0  8.965139e+05
min       0.0  8.938000e+03
25%       0.0  1.715375e+04
50%       0.0  2.427600e+04
75%       0.0  4.203150e+05
max       0.0  5.535878e+06